@media(max-width: 1024px) {
    footer {
        gap: 20px;
    }

    iframe {
        height: 500px;
        width: 320px;
    }
}




@media(max-width: 992px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        align-items: center;
        position: fixed;
        width: 100%;
    }

    .navbar ul {
        /* height: calc(100vh - 100px); */
        width: 90%;
        position: absolute;
        top: 80px;
        left: 5%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
        border: 2px solid white;
        border-top: none;
        border-radius: 0px 0px 20px 20px;
        background: var(--navbar-color);
        padding: 20px;
    }

    .navbar i {
        display: block;
    }

    #toggle-menu:checked ~ .navbar-list {
        display: flex;
        
    }

    .hero-img {
        display: none;
    }

    .hero-section {
        align-items: center;
    }

    .hero-section p,
    .hero-section h1 {
        text-align: center;
        width: 500px;
    }

    .about {
        max-width: 900px;
        flex-direction: column;
    }

    .cards-info {
        padding: 70px;
    }



    .cards-info {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        gap: 10px;
    }

    .titulo {
        justify-content: center;
    }

    .contact-details {
        flex-direction: column;
        align-items: center;
    }

    .contact-icon {
        justify-content: center;
    }

    .maps {
        display: flex;
        justify-content: center;
    }

    .contact-details1, 
    .contact-details2 {
        align-items: center;
    }
}

@media(max-width: 768px) {

    .hero-section p,
    .hero-section h1 {
        text-align: center;
        width: 250px;
    }

    .hero-section p {
        width: 250px;
    }

    .paragraphs {
        width: 80%;
    }

    .cards-info {
        padding: 70px;
    }

}



@media(max-width: 576px) {

    .hero-section p {
        width: 250px;
    }

    .cards-presentation h2 {
        font-size: 36px;
    }

    .cards-presentation p {
        width: 100px;
        text-align: center;
    }

    .details {
        width: 100%;
    }

    .details p {
        font-size: 12px;
    }

    .paragraphs {
        width: 300px;
        padding: 30px;
    }

    .cards-info {
        padding: 70px;
    }
}

@media(max-width: 380px) {
    header {
        width: 96%;
    }

    .hero-section h1 {
        font-size: 36px;
    }

    .about {
        margin: 25px
    }

    .paragraphs {
        width: 200px;
    }

    .cards-presentation p {
        width: 100px;
        text-align: center;
    }

    .details {
        width: 100%;
    }

    iframe {
        width: 200px;
        height: 300px;
    }
}