* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* header {
    background-color: #CED3DC;
    height: 60px;
}

.logoImg {
    margin: 15px;
    margin-left: 40px;
    width: 35px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
    position: relative;
    bottom: 70px;
}

.navbarNav {
    padding: 5px;
    
}

a {
    color: rgb(36, 44, 53);
    font-family: 'Roboto Condensed', sans-serif;
} */

header {
    background-color: #CED3DC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
}

.logoImg {
    width: 35px;
    
}

.navbar {
    display: flex;
    
}

.navbarNav {
    padding: 5px;
}

a {
    font-family: 'Roboto Condensed', sans-serif; 
    color: rgb(36, 44, 53);
}